body,
html {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #666;
  background-color: white;
}

.ivue-doc-demo {
  padding: 15px;
}
.ivue-doc-instance{
  margin-bottom: 20px;
}
.ivue-doc-code{
  position: relative;
}
.ivue-doc-code-content{
  border: 1px solid #ddd;
  background: #f5f5f5;
  border-radius: 3px;
}
.ivue-doc-code-copy{
  position: absolute;
  right: 0;
  top: -10;
  cursor: pointer;
  &:after{
    content: "复制";
  }
}
.ivue-doc-code-toggle{
  position: absolute;
  right: 40px;
  top: -10;
  cursor: pointer;
  &:after{
    content: "</>";
  }
}

.markdown {
  blockquote,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  table {
    margin: 10px 0 15px;
    border-collapse: collapse;
  }

  td,
  th {
    border: 1px solid #ddd;
    padding: 3px 10px;
  }

  th {
    padding: 5px 10px;
  }

  a {
    color: #0069d6;
  }

  a:hover {
    color: #0050a3;
    text-decoration: none;
  }

  a img {
    border: none;
  }

  p {
    margin-bottom: 9px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #404040;
    line-height: 36px;
  }

  h1 {
    margin-bottom: 18px;
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-left: 6px solid #b4b4b4;
    padding-left: 5px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 13px;
  }

  hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
  }

  blockquote {
    padding: 10px 20px;
    margin-bottom: 25px;
    background-color: #fcfaf2;
    word-break: break-word;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
  }



  blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
  }

  code,
  pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
  }

  code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  pre code {
    background-color: #fff;
    color: #737373;
    font-size: 11px;
    padding: 0;
  }

  sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
  }

  * {
    -webkit-print-color-adjust: exact;
  }
  @media screen and (min-width: 914px) {
    body {
      width: 854px;
      margin: 10px auto;
    }
  }
  @media print {
    body,
    code,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    pre code {
      color: black;
    }

    pre,
    table {
      page-break-inside: avoid;
    }
  }
}
